$xxl:   1400px;
$xl:    1200px;
$lg:    992px;
$md:    768px;
$sm:    576px;
$xs:    320px;

$primary-color:     #3E566E;
$secondary-color:   #FE4790;

$heading-font:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font:     "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;